<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
      <!-- Fuente header -->
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">

    <title>Crear categoria</title>
</head>
<body>

<body class="login-body">
    <div class="login-box">
        <div class="login-header">
            <header>
                <header>Crear Categoria Nueva</header>
            </header>
        </div>
        <form action='' method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="input-box">
            </div>
            <div class="input-box">
                {{form.nombre_categoria(placeholder="Nombre de la categoria",class="input-field")}}
            </div>
            <div class="image-loader">
              {{ form.imagen_categoria(class="image-loader", id="imagen_articulo") }}
          </div>
            <div >
                {{ form.submit(class="submit", label="Crear articulo")}}
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                <p class="mensaje-error">{{ message }}</p>
              {% endfor %}

              <p class="mensaje-error">Estas son las categorias que ya existen :
                {% for categoria in categorias %}
                  <br>{{ categoria.name }}
                {% endfor %}
              </p>
          {% endif %}
      {% endwith %}
    </div>
</body>
</html>