<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
      <!-- Fuente header -->
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">

    <title>Crear articulo nuevo</title>
</head>
<body>

<body class="login-body">
    <div class="login-box">
        <div class="login-header">
            <header>
                <header>Crear Articulo Nuevo</header>
            </header>
        </div>
        <form action='' method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="input-box">
                {{form.nombre_articulo(placeholder="Nombre del articulo",class="input-field")}}
            </div>
            <div class="input-box">
                {{form.precio_articulo(placeholder="Precio del articulo",class="input-field")}}
            </div>
            <div class="input-box">
                {{form.descripcion_articulo(placeholder="Descripción del articulo", class="input-field")}}
            </div>
            <div class="image-loader">
                {{ form.imagen_articulo(class="image-loader", id="imagen_articulo") }}
            </div>
            <div class="contenedor-categorias"> 
                <label for="categorias_articulo">Selecciona una categoria para el articulo</label>
                {{form.categorias_articulo}}
            <div>
                {{ form.submit(class="submit", label="Crear articulo")}}
            </div>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for category, message in messages %}
                        <p class="mensaje-error">{{ message }}</p>
                    {% endfor %}
            {%endif%}
        {% endwith %}
    </div>
</body>
</html>
